{
    "name": "ExampleHandlersMapName",
    "path": [
        {
            "handler": "Name of handler",
            "map": "or name of map",
            "executeConfig": {
            ...
            }
        }
    ],
    "executeConfig": {
    ...
    },
    "threadsGroupName": "common"
}